---
import ExperienceItem from "./ExperienceItem.astro"
import { getLangFromUrl, useTranslations } from "@/i18n/utils"
import type { Experience } from '@/types'

type tLang = (str: any) => any;

const lang = getLangFromUrl(Astro.url)
const t:tLang = useTranslations(lang);

const EXP: Experience[] = t('exp');
---

<ol class="relative mt-11  p-4 ">
  {
    EXP.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
