---
import type { Props } from '@/types'

const { href } = Astro.props as Props
---

<a
  href={href}
  target="_blank"
  role="link"
  class="
  inline-flex
  items-center
  justify-center
  flex-1
  gap-2 px-4 py-1
  text-gray-800
  transition
  border
  border-slate-500/20
  dark:border-slate-400/20
  text-sm
  group
  w-fit
  focus:outline-none
  hover:border-slate-800
  dark:hover:border-slate-200/80
  bg-transparent
  dark:text-white"
>
  <slot />
</a>
