---
import { HTMLAttributes } from 'astro/types'


interface Props extends HTMLAttributes<"a"> {
label:string,
}

const {label,class,...rest} = Astro.props
---

<a
  {...rest}
  target="_blank"
  rel="noopener noreferrer"
  role="link"
  class={`
  flex flex-1 flex-col border border-dashed border-slate-500/20 hover:border-slate-800 dark:border-slate-200/20 dark:hover:border-slate-200/80  text-foreground transition-all cursor-pointer  items-center justify-center
    `}
>
<div class="
    text-xl  w-full bg-primary p-2 grid place-content-center
  ">
  <slot/>
</div>
<span
class='text-xs p-1 font-semibold text-center'
  >{label}</span>
</a>
