---

interface Props {
label:string,
}

const {label,...rest} = Astro.props
---

<a
  {...rest}
  target="_blank"
  rel="noopener noreferrer"
  role="link"
  class="
    flex flex-col gap-3 text-foreground transition-all cursor-pointer hover:scale-110 items-center justify-center
    "
>
<div class="
  rounded-full text-xl  size-fit bg-primary p-2 grid place-content-center
  ">
  <slot/>
</div>
<span
class='text-xs text-center'
  >{label}</span>
</a>
